.container {
    background: gray;
    border-radius: 15px 50px 30px;
  	height: 40.09em;  
  	background-size: cover;
     
}
.menuBar {
	padding: .5px;
}
.menuBar ul {
	font-weight: bold;
    border-radius: 25px 28px 30px;
  	background: turquoise;
  	padding: 5px;
  	margin: 5px;
  	height: 5em;
  	list-style-type: none;
}

.menuBar ul li {
	float: left;
}


.menuBar ul li a img {
	width:95px; 
	height:80px;
 	border: solid 2px blue;
 	border-radius: 20px;
 	position: absolute;
    top: 17px;
    left: 18px;
}

.menuBar ul li a {
	color: darkblue;
    padding: 25px 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-size:  .8em;
    display: block;
   

}



.body {
	background-color: #c0c0c0;
	background-size: cover;
	height: 33em;
	border-radius: 25px 28px 30px; 
}
