.container {
    background: gray;
    border-radius: 15px 50px 30px;
  	height: 40.09em;  
  	background-size: cover;
     
}
.menuBar {
	padding: .5px;
}
.menuBar ul {
	font-weight: bold;
    border-radius: 25px 28px 30px;
  	background: turquoise;
  	padding: 5px;
  	margin: 5px;
  	height: 5em;
  	list-style-type: none;
}

.menuBar ul li {
	float: left;
}


.menuBar ul li a img {
	width:95px; 
	height:80px;
 	border: solid 2px blue;
 	border-radius: 20px;
 	position: absolute;
    top: 17px;
    left: 18px;
}

.menuBar ul li a {
	color: darkblue;
    padding: 25px 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-size:  .8em;
    display: block;
   

}



.body {
	background-color: #c0c0c0;
	background-size: cover;
	height: 52em;
	border-radius: 25px 28px 30px; 
}


.tdr td, table {
  text-align: center;
  width: 50em;
}



.cu {
 
 border-radius: 3px;
 border: 1px solid #ccc;
 box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
 }
 

 
label {
 color: black;
 display: inline-block;
 margin-left: 18px;
 padding-top: 10px;
 font-size: 16px;
 text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
}



.rq:after 
{
	content:" *"; color: #f00;
} 

input {
 font-family: "Helvetica Neue", Helvetica, sans-serif;
 font-size: 12px;
 outline: none;
}
 
input[type=text],
input[type=tel],
input[type=email] {
 color: #777;
 padding-left: 10px;
 margin: 10px;
 margin-top: 12px;
 margin-left: 18px;
 width: 400px;
 height: 35px;
 border: 1px solid #c7d0d2;
 border-radius: 20px;
 box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
 
}
 
input[type=text]:hover,
input[type=tel]:hover,
input[type=email]:hover {
 border: 1px solid #b6bfc0;
 box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
}
 
input[type=text]:focus,
input[type=email]:focus,
input[type=tel]:focus {
 border: 1px solid #a8c9e4;
 box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
}

textarea {
 color: #777;
 padding-left: 10px;
 margin: 10px;
 margin-top: 12px;
 outline: none;
 width: 400px;
 height: 150px;
 border: 1px solid #c7d0d2;
 border-radius: 20px;
 box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
 
}
 
textarea:hover {
 border: 1px solid #b6bfc0;
 box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
}
 
textarea:focus {
 border: 1px solid #a8c9e4;
 box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
}
 
#lower {
 background: #ecf2f5;
 width: 100%;
 height: 69px;
 margin-top: 20px;
 box-shadow: inset 0 1px 1px #fff;
 border-top: 1px solid #ccc;
 border-bottom-right-radius: 3px;
 border-bottom-left-radius: 3px;
}
 

input[type=submit] {
 float: right;
 margin-right: 20px;
 margin-top: 20px;
 width: 80px;
 height: 30px;
 font-size: 14px;
 font-weight: bold;
 color: #fff;
 background-color: #acd6ef; /*IE fallback*/
 background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
 background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
 background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
 border-radius: 30px;
 border: 1px solid #66add6;
 box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
 cursor: pointer;
}
 
input[type=submit]:hover {
 background-image: -webkit-gradient(linear, left top, left bottom, from(#b6e2ff), to(#6ec2e8));
 background-image: -moz-linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
 background-image: linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
}
 
input[type=submit]:active {
 background-image: -webkit-gradient(linear, left top, left bottom, from(#6ec2e8), to(#b6e2ff));
 background-image: -moz-linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
 background-image: linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
}


#map
{
   width: 100%;
   height: 400px;
 }
 
 .error
 {
 	color: red;
 }
 
 .success
 {
 	color: green;
 	text-align: center;
 	font-weight: bold;
 	font-size:  18px;
 }
 